{% from 'macro_messages.html' import flash_messages %}
{% from 'modals.html' import about %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather Info</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  {% block stylesheets %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<svg style="display: none;">
  <symbol id="icon-notification" viewBox="0 0 32 32">
    <title>notification</title>
    <path
        d="M16 3c-3.472 0-6.737 1.352-9.192 3.808s-3.808 5.72-3.808 9.192c0 3.472 1.352 6.737 3.808 9.192s5.72 3.808 9.192 3.808c3.472 0 6.737-1.352 9.192-3.808s3.808-5.72 3.808-9.192c0-3.472-1.352-6.737-3.808-9.192s-5.72-3.808-9.192-3.808zM16 0v0c8.837 0 16 7.163 16 16s-7.163 16-16 16c-8.837 0-16-7.163-16-16s7.163-16 16-16zM14 22h4v4h-4zM14 6h4v12h-4z"></path>
  </symbol>
  <symbol id="icon-warning" viewBox="0 0 32 32">
    <title>warning</title>
    <path
        d="M16 2.899l13.409 26.726h-26.819l13.409-26.726zM16 0c-0.69 0-1.379 0.465-1.903 1.395l-13.659 27.222c-1.046 1.86-0.156 3.383 1.978 3.383h27.166c2.134 0 3.025-1.522 1.978-3.383h0l-13.659-27.222c-0.523-0.93-1.213-1.395-1.903-1.395v0z"></path>
    <path d="M18 26c0 1.105-0.895 2-2 2s-2-0.895-2-2c0-1.105 0.895-2 2-2s2 0.895 2 2z"></path>
    <path d="M16 22c-1.105 0-2-0.895-2-2v-6c0-1.105 0.895-2 2-2s2 0.895 2 2v6c0 1.105-0.895 2-2 2z"></path>
  </symbol>
  {% block svg_icons %}{% endblock %}
</svg>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">Weather Info</span>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav ml-auto">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#about">About</button>
      </div>
    </div>
  </div>
</nav>


<div class="container">

  {% block content %}{% endblock %}

</div><!-- .container-fluid -->


{% block modals %}
  {{ about() }}
{% endblock %}

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
{% block scripts %}{% endblock %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block script_tag %}{% endblock %}
</body>
</html>