{% extends 'base.html' %}

{% block navbar_items %}
	<a href="{{ url_for('add_city') }}" class="btn btn-outline-primary mr-2">Add City</a>
{% endblock %}

{% block content %}

	{{ flash_messages() }}

	<div class="card mt-2">
		<div class="card-body">

			<h4 class="text-center">Past week's forecast in...</h4>
			<form action="{{ url_for('change_city') }}" method="POST">
				<div class="d-flex justify-content-center">
					<div class="col-6">
						<div class="form-group">
							<select name="city" id="city" class="form-control">
								{% for city in cities %}
									<option value="{{ city }}" {% if city == session['city'] %}selected{% endif %}>{{ city }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</form>

			<div class="row">
				{% for day in data %}
					<div class="col-4 my-2 d-flex align-items-stretch">
						<div class="card w-100 border-info">
							<div class="card-header">{{ day.dt.strftime('%A, %m/%d') }}</div>
							<div class="card-body d-flex flex-column justify-content-between text-center">
								<div><canvas id="icon{{ loop.index0 }}" class="text-center" width="64" height="64"></canvas></div>
								<div class="mb-2">{{ day.summary }}</div>
								<div class="d-flex justify-content-between">
									<div>
										<span class="temp">{{ day.temperatureHigh }}&deg;</span>
									</div>
									<div>
										<span class="temp text-muted">{{ day.temperatureLow }}&deg;</span>
									</div>
									{#
									<div>High: {{ day.temperatureHigh }}</div>
									<div>Low: {{ day.temperatureLow }}</div>
									#}
								</div>
							</div>
						</div>
					</div>{# .col-6 #}
				{% endfor %}
			</div>{# .row #}

		</div>{# .card-body #}
	</div>{# .card #}

{% endblock %}


{% block script_tag %}
	<script>
		$(document).ready(function(){

			var skycons = new Skycons();
			{% for day in data %}
				var icon = {{ day.icon | tojson }};
				skycons.add("icon" + {{ loop.index0 }}, icon);
			{% endfor %}

			skycons.play();
			
			$('#city').change(function(){
				$(this).closest('form').submit()
			});

		});
	</script>
{% endblock %}